*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a,
b,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
span,
textarea {
    font-family: 'Roboto', sans-serif !important
}

ul {
    padding: 0
}

.path {
    color: #c2b9a2;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    background: 0 0;
    margin: 0 0 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 50%;
    background-size: cover;
    background-image: url('../img/полоса.jpg')
}

.path-text {
    padding-left: 30px
}

.path-text a {
    color: #818995;
    text-decoration: none;
    transition: all .2s
}

.path-text a:hover {
    color: #c2b9a2;
    text-decoration: none;
    transition: all .2s
}

.row {
    display: flex
}

@media (max-width:992px) {
    .container {
        max-width: 750px
    }
}


@media (max-width:769px) {
    .main .path{
        display: none;
    }
}