header.header {
    margin-bottom: 15px
}

.header__topbar {
    color: #3e4a5e;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ebebeb
}

.header__topbar .header__topbar__links {
    display: flex;
    justify-content: space-between
}

.header__topbar .icon-pin::before {
    content: "\e909"
}

.header__topbar .address {
    display: inline-block
}

.header__topbar .address a {
    color: #818995;
    text-decoration: none;
    transition: all .2s
}

.header__topbar .address a:hover {
    color: #c2b9a2;
    text-decoration: none;
    transition: all .2s
}

.header__topbar .email {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    padding-left: 15px
}

.header__topbar .email:before {
    position: absolute;
    content: "";
    left: 0;
    background: #d4d4d4;
    width: 1px;
    height: 18px;
    top: calc(50% - 9px)
}

.header__topbar .email a {
    transition: all .2s;
    color: #818995;
    text-decoration: none
}

.header__topbar .email a:hover {
    transition: all .2s;
    color: #c2b9a2
}

.header__topbar ul.menu {
    text-align: right;
    list-style: none;
    padding: 0
}

.header__topbar ul.menu li.contacts {
    display: inline-block;
    padding-right: 15px;
    margin-right: 15px;
    position: relative
}

.header__topbar ul.menu li a {
    transition: all .2s;
    color: #818995;
    text-decoration: none
}

.header__topbar ul.menu li a:hover {
    transition: all .2s;
    color: #c2b9a2;
    text-decoration: none
}

.header__topbar ul.menu li.contacts::before {
    position: absolute;
    content: "";
    right: 0;
    background: #d4d4d4;
    width: 1px;
    height: 18px;
    top: calc(50% - 9px)
}

.header__topbar ul.menu li.order {
    display: inline-block;
    margin-right: 0;
    padding-right: 0
}

.header__main {
    position: relative;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    padding: 25px 0 17px
}

.header__main .header-left {
    max-width: 25%;
    width: 25%
}

.header__main .header-center {
    max-width: 50%;
    width: 50%
}

.header__main .header-right {
    max-width: 25%;
    width: 25%
}

.header__main .header-center p.title {
    padding-top: 18px;
    color: #000;
    font-size: 15px;
    text-align: center
}

.header__main .main-logo {
    margin-top: -15px
}

.header__main .main-logo img {
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    max-height: 70px
}

.header__links {
    font-size: 15px;
    position: relative;
    font-weight: 600;
    text-align: right
}

.header__login a.login:hover {
    color: #c2b9a2;
    text-decoration: none
}

.header__login a.login {
    text-decoration: none;
    color: #3e4a5e;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.navbar {
    display: flex
}

ul.navbar__menu {
    padding: 0;
    list-style: none;
    float: none;
    -webkit-transition: all .35s;
    transition: all .35s;
    margin: 0 auto
}

ul.navbar__menu li {
    position: relative;
    float: left;
    padding: 15px;
    line-height: 24px
}

ul.navbar__menu li a {
    text-decoration: none;
    position: relative;
    font-family: Modica SemiBold;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    color: #3e4a5e;
    white-space: nowrap;
    text-transform: capitalize;
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s
}

ul.navbar__menu li a:hover {
    color: #c2b9a2
}

.header-right {
    position: relative;
    color: #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.header-right .wishlist-box {
    margin-left: 10px;
    vertical-align: middle
}

.header-right .wishlist-box a.wish-icon {
    color: #3e4a5e;
    width: 44px;
    height: 44px;
    border: 2px solid #e1e1e1;
    display: inline-block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    line-height: 44px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.header-right .wishlist-box a.wish-icon:hover {
    color: #fff;
    background-color: #c2b9a2;
    border-color: #c2b9a2
}

@media (min-width:1440px) {
    .header__main .row {
        margin: 0
    }
}

@media (max-width:1440px) {
    .header__main .row {
        display: flex
    }
}

@media (max-width:1200px) {
    .container {
        max-width: 1440px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto
    }

    .header__main .header-left {
        max-width: 25%;
        width: 25%
    }

    .header__main .header-center {
        max-width: 40%;
        width: 40%
    }

    .header__main .header-right {
        max-width: 35%;
        width: 35%
    }
}

@media (max-width:992px) {
    .header__main .header-left {
        max-width: 26%;
        width: 26%
    }

    .header__main .header-center {
        max-width: 45%;
        width: 45%
    }

    .header__main .header-right {
        max-width: 29%;
        width: 29%
    }
}

@media (min-width:770px) {
    .navbar .close-menu {
        display: none;
    }

    .header__mobile{
        display: none;
    }
}

@media (max-width:769px) {
    .header__mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 9;
        position: fixed;
        height: 80px;
        background: #fff;
        top: 0; 
        box-shadow: black 0px -15px 20px;
    }
    .header__mobile .open-menu__block{
        display: block;
        padding: 25px 15px;
        width: 10%;
    }
    .open-menu, .open-menu::after, .open-menu::before {
        z-index: 1;
        display: block;
        background-color: #000;
        position: absolute;
        height: 1px;
        width: 18px;
        border-radius: 2px;
    }
    .open-menu::after{
        content: '';
        margin-top: 5px;
    }
    .open-menu::before{
        content: '';
        margin-top: -5px;
    }

    .header__main,
    .header__topbar {
        display: none;
    }

    .header__mobile .main-logo{
        width: 80%;
        text-align: center;
    }

    .header__mobile .main-logo img{
        max-height: 70px;    
        border: 0;
        vertical-align: top;
        max-width: 100%;
        height: auto;
    }
    
    .header__mobile .header__login {
        width: 10%;
        padding: 25px 0;
        text-align: center;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        box-shadow: 0 1px 12px 2px hsl(0deg 0% 56% / 30%);
        height: 100vh;
        z-index: 999;
        background-color: #fff;
        -webkit-transform: translate3d(-280px,0,0);
        transform: translate3d(-280px,0,0);
        -webkit-transition: all .5s ease-in-out 0s;
        transition: all .5s ease-in-out 0s;
    }

    .navbar.open {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .navbar .close-menu {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 50px;
        background: #c2b9a2;
        z-index: 10;
        cursor: pointer;
        text-align: right;
        padding: 1rem 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px
    }

    .navbar .close-menu .close {
        margin-left: 10px
    }

    .navbar ul.navbar__menu {
        padding: 20px 15px
    }

    .navbar ul.navbar__menu li {
        padding: 10px 0;
        width: 100%;
        font-size: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, .05)
    }

    .navbar ul.navbar__menu li a {
        font-weight: 400
    }
}