.main .main__banner .main__banner-block {
    width: 100%;
    padding: 0;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 80px
}

.main__banner .main__banner-block a img {
    position: absolute;
    left: 0;
    width: 100%
}

.main__category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto
}

.main__category .category-block {
    margin: 35px 2%
}

.main__category .category-block .category-img {
    text-align: center
}

.main__category .category-block .category-img img {
    height: auto;
    max-width: 100%;
    border: none;
    transform: scale(1);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.main__category .category-block .category-img img:active,
.main__category .category-block .category-img img:focus,
.main__category .category-block .category-img img:hover {
    transform: scale(.9);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.main__category .category-block .category-name {
    text-align: center;
    line-height: 3rem
}

.main__category .category-block .category-name a {
    color: #000
}

.main__category .category-block .category-name a:active,
.main__category .category-block .category-name a:focus,
.main__category .category-block .category-name a:hover {
    color: #c2b9a2;
    text-decoration: unset;
    outline: unset;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

@media (min-width:1440px) {
    .main__category {
        width: 1440px
    }
}

@media (max-width:1440px) {
    .main__category {
        width: 1142px
    }

    .main__category .category-block {
        width: 300px
    }
}

@media (max-width:1200px) {
    .main__category {
        width: 887px
    }

    .main__category .category-block {
        width: 257px
    }
}

@media (max-width:993px) {
    .main__category {
        width: 100%
    }

    .main__category .category-block {
        width: 30%;
        margin: 0 1% 35px 1%
    }
}