.shop-container {
    padding: 0 30px;
    max-width: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.main .options {
    width: 25%
}

.main .options .option {
    border: 2px solid #e6e6e6;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 40px;
    background: #fff;
    padding: 10px 30px 15px
}

.main .options .option h3 {
    border-bottom: 1px solid #e6e6e6;
    font-weight: 600;
    padding: 10px 0;
    margin: 0 0 13px;
    text-transform: capitalize;
    font-size: 20px
}

.main .options .option ul.content-menu {
    list-style: none;
    color: #818995
}

.main .options .option ul.content-menu li {
    padding: 9px 20px;
    border-bottom: 1px dashed #e9e9e9
}

.main .options .option ul.content-menu li:last-child {
    padding: 9px 20px;
    border-bottom: 0
}

.main .options .option ul.content-menu li a {
    text-decoration: none;
    color: #818995;
    transition: all .1s
}

.main .options .option ul.content-menu li a:hover {
    color: #c2b9a2;
    transition: all .1s
}

.main .shop {
    width: 75%
}

.main .shop-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-left: 1.2rem
}

.main .shop-title h1 {
    margin: 0;
    font-size: 24px
}

.main .shop__product-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.main .shop__product-list .shop__product-block {
    margin-bottom: 30px;
    width: calc(100%/3);
    padding: 0 1.2rem;
    border-right: 1px solid #e6e6e6
}

.main .shop__product-list .shop__product-block .product-img {
    text-align: center
}

.main .shop__product-list .shop__product-block .product-img img {
    margin-bottom: 15px;
    cursor: pointer;
    max-width: 100%;
    height: auto
}

.main .shop__product-list .shop__product-block .product-name {
    margin-bottom: 7px
}

.main .shop__product-list .shop__product-block .product-name a {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    transition: all .2s;
    text-decoration: none
}

.main .shop__product-list .shop__product-block .product-name a:hover {
    color: #c2b9a2;
    transition: all .2s;
    text-decoration: none
}

.main .shop__product-list .shop__product-block .product-price .price {
    font-size: 18px;
    color: #c2b9a2
}

@media (min-width:1440px) {
    .shop-container {
        max-width: 1440px
    }
}

@media (max-width:1440px) {
    .row {
        display: flex
    }

    .main .options {
        max-width: 25%;
        width: 25%
    }

    .main .shop {
        max-width: 75%;
        width: 75%
    }
}